*{
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
}


input{
    border: none;
    height: 50px;
    outline: none;
    resize: none;
    width: 600px; 
}



.send > button{
    background-color: #316227;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: auto;
    margin-left: 10px;
    padding: 1rem;
    transition: .7s;
    width: 100px;
}

.send > button:hover{
    background-color: lightgreen;
    color: black;
} 